body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0a23; /* Midnight black with a hint of blue */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #0a0a23; /* Match body background color */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.swap-button,
.more-button button,
.home-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.swap-button:hover,
.more-button button:hover,
.home-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.more-button {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 10px; /* Adjusted spacing from button */
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.more-button:hover .dropdown-content {
    display: block;
}

.separator {
    width: calc(100% - 20px); /* Full width minus padding */
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3); /* Lighter color for separator */
    margin: 10px 0; /* Adjusted margin */
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0a0a23; /* Dark black with a hint of blue */
    overflow: hidden;
    z-index: -1; /* Ensure the background is behind other content */
}

.background span {
    width: 31vmin;
    height: 31vmin;
    border-radius: 31vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 35s; /* Adjusted animation duration */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
