@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #14032b;
    overflow: hidden;
    z-index: -1; /* Ensure the background is behind other content */
}

.background span {
    width: 31vmin;
    height: 31vmin;
    border-radius: 31vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 35s; /* Adjusted animation duration */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #E45A84;
    top: 25%;
    left: 93%;
    animation-duration: 131s;
    animation-delay: -78s;
    transform-origin: 11vw -16vh;
    box-shadow: -62vmin 0 7.830018226446034vmin currentColor;
}
/* Other span styles continue... */
